@charset "utf-8";
/* CSS Document */


/* JSCROLL PANE OVERRIDES */
.jspVerticalBar {
	width: 8px;
}

.jspDrag {
	background-color: #2f2f2f;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.jspTrack {
	background-color: #c2c2c2;
}

/* JQUERY UI OVERRIDES */
.ui-widget-content {
	background: none;
	border: none;
}

