@charset "utf-8";
/* CSS Document */

/* options menu */
#options_menu {
	float: right;
	list-style: none;
	margin: 8px 0 0 0;
	padding: 0;
	color: #fff;
}

	#options_menu li {
		display: inline-block;
		padding: 4px 20px;
		position: relative;
		min-height: 24px;
		cursor: pointer;
	}
	#options_menu li:hover {
		background: darkblue;
		color: #fff;
	}
	
	#options_menu li ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background: #DDEBF7;
		z-index: 5000;
		margin: 0;
		padding: 0;
		min-width: 120px;
		border: 1px solid #06C;
	}
	#options_menu li:hover ul {
		display: block;
	}
	#options_menu li ul li {
		display: block;
		width: 90%;
		padding: 4px 6px;
		color: #282828;
		cursor: pointer;
		text-align: left;
	}
		#options_menu li ul li:hover {
			background: #fff;
			color: #282828;
		}
		#options_menu li ul li a {
			color: #282828;
			text-decoration: none;
		}
		


/* tabs */
.ui-tabs {
	position:relative;
}

.tabs.ui-widget-header {
	background: none;
	border: none;
	position:relative;
	margin-left: 5px;
}
	
	.tabs li:first-child:before {
		background: url(../img/icons/tabCorner_black_left.png) no-repeat top left;
		height: 26px;
		width: 12px;
		display: block;
		content: " ";
		position: absolute;
		left: -10px;
		top: 0;
		z-index:300;
	}
    .tabs li:first-child:hover:before, .tabs li:first-child.ui-state-active:before {
        background: url(../img/icons/tabCorner_blue_left.png) no-repeat top left;
    }
	.tabs li:last-child:after {
		background: url(../img/icons/tabCorner_black_right.png) no-repeat top left;
		height: 26px;
		width: 12px;
		display: block;
		content: " ";
		position: absolute;
		right: -10px;
		top: 0;
		z-index:300;
	}
    .tabs li:last-child:hover:after, .tabs li:last-child.ui-state-active:after {
        background: url(../img/icons/tabCorner_blue_right.png) no-repeat top left;
    }
	
.tabs .ui-state-default {
	background: url(../img/icons/tabs_black.png) repeat-x top left;
	color: #fff;
	height: 26px;
	padding: 0;
}
.tabs .ui-state-default.ui-state-hover {
	background: url(../img/icons/tabs_blue.png) repeat-x top left;
	color: #fff;
	height: 26px;
	padding: 0;
}
.tabs .ui-tabs-active {
	background: url(../img/icons/tabs_blue.png) repeat-x top left;
	color: #fff;
	height: 26px;
	padding: 0;
}

.tabs.ui-tabs-nav li {
	margin: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
}
.tabs.ui-tabs-nav li a {
	color: #fff;
	padding: 4px 10px;
}
.tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #fff;
	padding: 0;
}
#screen .ui-tabs-panel {
	padding: 10px 0px;
}
#screen .ui-tabs-panel h2 {
	font-size: 12px;
	margin: 0;
}
